    /* 效果CSS开始 */
    .mod18{width:350px;position:relative;}
    .mod18 .btn{position:absolute;cursor:pointer;z-index:99;font-size:50px;font-weight:bold;}
    .mod18 .prev{left:-20px;background:url(https://imgs-qn.iliangcang.com/ware/sowhatimg/ware/orig/2/24/24753.png) no-repeat;background-size:10px 18px}
    .mod18 #prevTop,.mod18 #nextTop{top:250px;width:32px;height:48px;}
    .mod18 #prev,.mod18 #next{top:393px;width:10px;height:18px;}
    .mod18 #prevTop{background:url() 0 0 no-repeat;}
    .mod18 #nextTop{background:url() 0 0 no-repeat;}
    .mod18 .next{right:-15px;background:url(https://imgs-qn.iliangcang.com/ware/sowhatimg/ware/orig/2/24/24751.png) no-repeat;background-size:10px 18px}
    .mod18 li{float:left;}
    .mod18 .cf li{position:relative;color:#fff;}
    .mod18 .cf a{display:block;width:526px;height:377px;position:absolute;color:#fff;}
    .mod18 .cf li span{display:block;width:486px;position:absolute;left:75px;bottom:0;padding:10px 20px;line-height:22px;text-align:left;background:rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = "#60000000",endColorstr = "#60000000");}
    .mod18 .picBox{width:350px; height:350px;position:relative;overflow:hidden; background:#FFFFFF;}
    .mod18 .picBox ul{height:377px;position:absolute; left:0;width: 350px;}
    .mod18 .picBox li{width:350px;height:377px;}
    .mod18 .listBox{width:350px;height:80px;margin:0 auto;position:relative; padding-top:15px;overflow:hidden;}
    .mod18 .listBox ul{height:88px;position:absolute; padding-left:6px;}
    .mod18 .listBox li{width:66px;height:66px;cursor:pointer;position:relative; padding:8px 0 0 0;margin:0 2px}
    .mod18 .listBox li i{display:none;}
    .mod18 .listBox li a{display:block;width:108px;height:77px;}
    .mod18 .listBox img{border:0px;}
    .mod18 .listBox .on div{
        border-bottom:1px solid black;
        border-left:1px solid black;
        border-right:1px solid black;
    }
    .mod18 .listBox .on{background:url() center top no-repeat;}
    .mod18 .listBox .on i{display:block;}
    #goodsImgConV2 .goodsInfo {
        margin-top: -445px;
        margin-right: 40px;
        width: 330px
    }
    ul.cf{width:350px;left: -6px}
    #goodsImgConV2 .goodsInfo .buy2{
        background: black;
        width: 330px;
        height: 42px;
        line-height: 42px;
    }
    #goodsImgConV2 .goodsInfo .goodsFavCount{
            background: url(https://imgs-qn.iliangcang.com/ware/sowhatimg/ware/orig/2/24/24747.png) 0px center no-repeat;
            background-size: 14px 13px;
            color: black;
            padding-left: 20px;
    }
    
    
    #goodsImgConV2 .goodsInfo .amountCon{
        width:110%;
        padding: 0px 0px 10px 0px;
    }
    
    
    #goodsImgConV2 .goodsInfo .amountCon .mopt a {
        color: black;
        width: 13px;
        height: 13px;
        font-size: 13px;
        line-height: 11px;
        vertical-align: middle;
        background: #fff;
        text-align: center;
        border:0px solid black;
    /*    border-radius:1.5px;*/
    }
    
    #goodsImgConV2 .goodsInfo .amountCon .inpt {
        margin: 0px 7px;
        width: 52px;
        height: 24px;
        display: inline-block;
        line-height: 24px;
        vertical-align: middle;
        color: #666;
        font-size: 13px;
        border: none;
        background: white;
        text-align: center;
        border:1px solid rgb(238,238,238);
    }
    
    #goodsImgConV2 .goodsInfo .addcar2 {
        background: url(https://imgs-qn.iliangcang.com/ware/sowhatimg/ware/orig/2/24/24749.png) #fff no-repeat;
        float: left;
        background-size: 15px;
        background-position:38px 8px;
    }
    
    #goodsImgConV2 .goodsInfo .shareTo2 {
        background: url(https://imgs-qn.iliangcang.com/ware/sowhatimg/ware/orig/2/24/24746.png) #fff no-repeat;
        float: right;
        background-size: 12px;
        background-position:55px 7px;
    }
    
    #goodsImgConV2 .goodsInfo .btn138_34 {
        display: inline-block;
        width: 160px;
        height: 32px;
        border: none;
        color: black;
        line-height: 32px;
        font-size: 13px;
        border:1px solid black;
        background-color: #fff;
    }
    
    #goodsImgConV2 .goodsInfo .infoItem{
        width:330px
    }
    
    #goodsImgConV2 .goodsInfo .buyAll{
        margin-top: 5px;
    }
    
    .goodsDetail img{
        width:720px
    }
    
    #goodsImgConV2 .cusService {
        width: 592px;
        font-size: 12px;
        color: #666666;
        border: 3px solid #ededed;
    
        background: #fff;
    
    }
    p.txtCon{font-size: 13px;margin-bottom: 10px;margin-top: 10px;word-break: break-all;}
    
    
    
    
    .cls element.style {
        width: 550px;
    
    }
    
    #goodsImgConV2 .goodsInfo .sizeCon .chk {
        background: #ccc;
        color: black;
        font-size: 13px;
    }
    
    #goodsImgConV2 .goodsInfo .colorCon div div.chk {
        border:1px solid white;
        background: #fff;
        color: black;
        min-width:43px;
    /*    height: 56px;*/
    }
    #goodsImgConV2 .goodsInfo .colorCon div div{
            border: 1px solid #fff;
    }
    
    #goodsImgConV2 .goodsInfo .colorCon div div .name {
        display: block;
        text-align: center;
        min-width: 34px;
        white-space: nowrap;
        height: 20px;
        line-height: 20px;
        vertical-align: middle;
        overflow: hidden;
        font-size: 12px;
    }